
.character-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.character-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    margin-top: 50px;

}
.btn-details {
    border: none;
    background-color: yellow;
    color: black;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  